
/* :::::::::::::::::::::::::::RESETS :::::::::::::::::::::::::::::::::::::::: */
html, body {
	height: 100%;
}

body {
  margin:0; 
	background-color: bisque;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none; 
  margin: 0;
  padding:0;  
}

html {
  box-sizing: border-box;
    /*VAR FONTS*/
   
   /*VAR COLORS*/
--ctheme-c-red:#E3396A;
--ctheme-dawn:#999897;
--ctheme-malibu:#77CDF3;
--clor-silver:#C9C9C9;
--clor-white:#FFF;
--clor-wsmoke:#EFEFEF;
--clor-black:#000;
--clor-dim-gray:#707070;

/* VAR PADDGINS MARGINS */
--common-gap: 0.5em;
--common-padding:1em;

}

ul, ol { 
  list-style-type: none;
}

/* :::::::::::::::::::::::::::STYLE HTML ELEMENTS :::::::::::::::::::::::::::::::::::::::: */
/* ---------- Grid CONTAINER for header */
.page-header {
	align-items: center;
	display: grid;
	border: 0.1em solid black;
	grid-template-columns: 1fr auto auto;
	grid-template-areas: 
	"logo prod menu"
	"srch srch srch";
	gap:var(--common-gap);
	padding:0 calc(var(--common-padding)*4);
	background-color: var(--clor-white);
	justify-content: space-between;
}

/* ---------- Grid ITEMS for header */
.logo {
  grid-area: logo;
}

.search {
	align-content: center;
	align-items: center;
  grid-area: srch;
	display: flex;
	justify-content: center;
	gap:var(--common-gap);
	padding:0;
}

.your-products {
	grid-area: prod;
	background-color:  white;
	display: flex;
	gap:var(--common-gap);
}

.nav-toggle{
	grid-area: menu;
	background-color:  orange;
}

.navigation {
	display: none;
}
.search label {
	align-content: center;
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-evenly;
	gap:var(--common-gap);
	/* border: 0.5em solid violet; */
}

.search button {
	flex: 0 1 auto;

}
.ibox-srch {
	border: 0.1em solid var(--ctheme-dawn);
	border-radius: 4px ;
	flex: 1 1 auto;
	font-size: 1.2em;

}