/* Note there a few "reset" styles given in reset.css. Review those before you begin */
/* RESETS ::::::::::::::::::::::::::::::::::::::::*/
html, body {
	height: 100%;
}

body {
  margin:0; 
	background-color: bisque;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none; 
  margin: 0;
  padding:0;  
}

html {
  box-sizing: border-box;
    /*VAR FONTS*/
   
   /*VAR COLORS*/
--ctheme-c-red:#E3396A;
--ctheme-dawn:#999897;
--ctheme-malibu:#77CDF3;
--clor-silver:#C9C9C9;
--clor-white:#FFF;
--clor-wsmoke:#EFEFEF;
--clor-black:#000;
--clor-dim-gray:#707070;

}

ul, ol { 
  list-style-type: none;
}
